[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=~/meow.sh/start.sh
Name=Meow.SH
Comment=Annoy people with meow noises!
Icon=./favicon.png
